* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --dur: 3s;
    --arrowA: polygon(33% 0%,67% 0%,67% 60%,100% 60%,50% 100%,0% 60%,33% 60%);
    --arrowB: polygon(0% 37.5%,100% 37.5%,100% 62.5%,100% 62.5%,50% 62.5%,0% 62.5%,0% 62.5%);
    font-size: calc(20px + (40 - 20)*(100vw - 320px)/(2560 - 320));
  }
  
  body, button {
    display: flex;
    font: 1em/1.5 Hind, sans-serif;
  }
  body {
    background: #e3e4e8;
    height: 100vh;
    overflow: hidden;
  }
  